/app/.gradle
/app/build/

# Ignore Gradle GUI config
/app/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!/app/gradle-wrapper.jar

# Cache of project
/app/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# /app/gradle/wrapper/gradle-wrapper.properties

# Ignore .idea file from intellij
/app/.idea/

*.DS_Store

/app/app.iml
