<?xml version='1.0' encoding='utf-8'?>

<!--
 This file is responsible for configuring the Hibernate ORM.
-->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Format SQL queries from stdout. Make sure to turn on show_sql -->
        <property name="format_sql">false</property>

        <!-- Set naming strategy -->
        <property name="hibernate.implicit_naming_strategy">org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl</property>

        <!-- Update the database schema (structure) on startup -->
        <property name="hbm2ddl.auto">update</property>
    </session-factory>

</hibernate-configuration>
